    <script src="../../../static/script/js/jquery.min.js"></script>
    <script src="../../../static/script/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../../../static/script/js/popper.min.js"></script>
    <script src="../../../static/script/js/bootstrap.min.js"></script>
    <script src="../../../static/script/js/jquery.easing.1.3.js"></script>
    <script src="../../../static/script/js/jquery.waypoints.min.js"></script>
    <script src="../../../static/script/js/jquery.stellar.min.js"></script>
    <script src="../../../static/script/js/owl.carousel.min.js"></script>
    <script src="../../../static/script/js/jquery.magnific-popup.min.js"></script>
    <script src="../../../static/script/js/aos.js"></script>
    <script src="../../../static/script/js/jquery.animateNumber.min.js"></script>
    <script src="../../../static/script/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="../../../static/script/js/google-map.js"></script>
    <script src="../../../static/script/js/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
